body {
	 
	background-image: url("../../assets/images/Sun.jpg");
    background-color: black;
    background-size: 100%;
	text-align: center;
}

h1 {
	font-size: 3.5em;
	padding-top: 5px;
	padding-bottom: 5px;
}

.hide {
	visibility: hidden;
}

.show {
	visibility: visible;
}

#gamebox {
	margin-top: 100px;
	margin-bottom: 20px;
	width: 50%; 
	background-color: grey;
	margin-right: auto;
	margin-left: auto;
	opacity: .6;
}

#title {
	background-color: black;
	color: white;
}

button {
	text-align: center;
	width: 100%;
	font-size: 2em;	
}

button:hover{
	background-color: black;
	color: white;
}

#timer {
	background-color: black;
	color: white;
	width: 100%;
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 3em;
}

#question {
	background-color: black;
	color: white;
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 2.5em;
}

/*#bottom {
	width: 50%;
	margin: auto;
}*/

#abox {
	background-color: black;
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
}

#answers {
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
}

.answer {
	color: white;
	background-color: black;
	width: 33%;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 1.5em;
	margin-top: 2.5px;
	margin-bottom: 2.5px;
	margin-right: auto;
	margin-left: auto;
}

.answer:hover{
	color: black;
	background-color: white;
}

@media only screen and (max-width: 640px) {
	
	h1 {
		font-size: 32px;
	} 

	h2, button, #timer, #question{
		font-size: 24px;
	}

	.answers {
		font-size: 18px;
	}
	
	.answer:hover{
	color: black;
	background-color: white;
	}

	#gamebox {
		width: 90%; 
	}
}





















